# Server Configuration
PORT=5000

# Database Credentials (PostgreSQL credentials assigned to Group 3)
DB_HOST=postgres_host_or_ip
DB_PORT=5432
DB_NAME=db_group3
DB_USER=group3_user
DB_PASSWORD=group3_password

# Authentication Secrets
JWT_ACCESS_SECRET=jwt_access_secret
JWT_REFRESH_SECRET=jwt_refresh_secret